// server environment
NODE_ENV=
BASE_URL=
PORT=

// server configuration flags (boolean values only)
USE_COOKIES=
USE_CORS=
USE_REDIS=
USE_SESSION=

// auth secrets
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

// external connections
DATABASE_URL=
